<%= partial :header, locals: {heading: 'OAuth Token Getter'} %>
<ul>
	<li><a href="/strava/authorize" title="Strava">Strava</a></li>
	<li><a href="/dropbox/authorize" title="Dropbox">Dropbox</a></li>
	<li><a href="/instagram/authorize" title="Instagram">Instagram (in progress)</a></li>
	<li><a href="/google_drive/authorize" title="Google Drive">Google Drive (Signet)</a></li>
</ul>


